/****************************
    Menu Flutuante
*****************************/

.scroll-top{
    position: fixed;
    display: block;
    bottom:70px;
    right:10px;
    z-index: 20;
}
.scroll-top button{
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--gray60);
    color: var(--white);
    right: 0;
    bottom: 0;
    z-index: 20;
    font-size: 1em;
    border: 0;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    cursor: pointer;
}

.fab{
    position: fixed;
    display: block;
    bottom:120px;
    right:10px;
    z-index: 20;
}

.fab button{
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 30px;
    background-color: #7CAA37;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
    padding: 0 2px;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}
.fab button img{
    width: 26px;
    position: relative;
    top: -3px;
}

.fab button:focus{
    outline: none;
}

.fab button.main{
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #7CAA37;
    right: 0;
    bottom: 0;
    z-index: 20;
    font-size: 1em;
    font-weight: 300;
}

.fab button.main:before{
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    content: '\f519';
}

.fab ul{
    position:absolute;
    bottom: 0;
    right: 0;
    padding:0;
    padding-right:5px;
    margin:0;
    list-style:none;
    z-index:10;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab ul li{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: -10%;
    opacity: 0;

    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    transition: .3s ease-out;
}

.fab ul li label{
    margin-right:10px;
    white-space: nowrap;
    display: block;
    width: 100px;
    height: 18px;
    margin-top: 10px;
    padding: 3px 8px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border-radius:1px;
    font-family: 'HurmeGeometricSans4', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    pointer-events: none;
    opacity:0;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.fab.show button.main,
.fab.show button.main{
    outline: none;
    background-color: #7CAA37;
    box-shadow: 0 3px 8px rgba(0,0,0,.5);
 }
 
.fab.show button.main:before,
.fab.show button.main:before{
    font-family: 'Font Awesome 5 Pro';
    content: '\f00d';
}

.fab.show button.main + ul,
.fab.show button.main + ul{
    bottom: 45px;
}

.fab.show button.main + ul li,
.fab.show button.main + ul li{
    margin-bottom: 10px;
    opacity: 1;
}

.fab.show button.main + ul li:hover label,
.fab.show button.main + ul li:hover label{
    opacity: 1;
}