/*! Pushy - v1.1.0 - 2017-1-30
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background-color: #444444;
  /* background-color: #74ebd5;
  background-image: -webkit-linear-gradient(left, #74ebd5 0%, #00f1c0 100%);
  background-image: -o-linear-gradient(left, #74ebd5 0%, #00f1c0 100%);
  background-image: linear-gradient(to right, #74ebd5 0%, #00f1c0 100%); */
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}
.pushy a {
  display: block;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  font-size: .9em;
}
.pushy a:hover {
  background-color: #fff;
  color: #444444;
}
.pushy ul:first-child {
  margin-top: 10px;
}
.pushy ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pushy ul li a {
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 600;
}
.pushy.pushy-left {
  left: 0;
}
.pushy.pushy-right {
  right: 0;
}

.pushy-content {
  visibility: hidden;
}

.pushy-content .collapse{
  background-color: rgba(255, 255, 255, 0.4);
}
.pushy-content .box-logo {
  background-color: var(--white);
  padding: 10px;
  margin-bottom: 5px;
}
.pushy-content img.logo {
  width: 50%;
  display: block;
  position: relative;
  margin: 10px auto;
}
.pushy-content a.collapse-link.collapsed::after{
  font-family: 'Font Awesome 5 Pro';
  content: '\f077';
  position: absolute;
  right: 10px;
}
.pushy-content a.collapse-link::after{
  font-family: 'Font Awesome 5 Pro';
  content: '\f078';
  position: absolute;
  right: 10px;
}
.pushy-content .access_wallet {
  background-color: #3d127a;
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  width: 80%;
  margin: 10px auto;
  color: #fff;
  font-size: .9em;
  font-weight: 300;
  text-align: center;
  -webkit-box-shadow: 0px 7px 20px 5px rgba(85,50,138,0.5);
  -moz-box-shadow: 0px 7px 20px 5px rgba(85,50,138,0.5);
  box-shadow: 0px 7px 20px 5px rgba(85,50,138,0.5);
}

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible;
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}
.pushy-content hr {
  position: relative;
  width: 80%;
  margin: 5px auto;
  border-color: #6338a0;
}

/* Site Overlay */
.site-overlay {
  display: none;
  background: url(../img/cancel-music.svg) no-repeat 260px 10px rgba(0, 0, 0, 0.7) !important;
  background-size: 20px !important;
  cursor: pointer;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */
}
.pushy-submenu ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.pushy-submenu ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu button {
  width: 100%;
  color: #fff;
  padding: 15px 30px;
  text-align: left;
  background: transparent;
  border: 0;
  font-weight: 300;
  font-size: .9em;
}
.pushy-submenu button:hover {
  color: #FFF;
}
.pushy-submenu > a,
.pushy-submenu > button {
  position: relative;
}
.pushy-submenu > a::after,
.pushy-submenu > button::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("../img/arrow-down.svg") no-repeat 0px center;
  background-size: contain;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-submenu-open {
  /* Submenu Icon */
}
.pushy-submenu-open ul {
  max-height: 1000px;
  visibility: visible;
  background-color: #fff;
  padding: 0;
}
.pushy-submenu-open ul li a {
  display: block;
  width: 100%;
  padding: 15px 20px 10px 70px;
  font-size: .8em;
  font-weight: 400;
}
.pushy-submenu-open ul li a p {
  font-size: 0.7em;
  font-weight: 300;
  color: #999999;
}
.pushy-submenu-open ul li.card-company a {
  background: url(../img/card-company.png) no-repeat 10px center;
  background-size: 50px;
  color: #55328a;

}
.pushy-submenu-open ul li.card-folks a {
  background: url(../img/card-folks.png) no-repeat 10px center;
  background-size: 50px;
  color: #ed6f22;
}
.pushy-submenu-open ul li.card-prepaid a {
  background: url(../img/card-prepaid.png) no-repeat 10px center;
  background-size: 50px;
  color: #8aab00;
}
.pushy-submenu-open .pushy-link {
  opacity: 1;
}
.pushy-submenu-open a::after,
.pushy-submenu-open button::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

/*# sourceMappingURL=pushy.css.map */
